@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap');

/* Base */

body {
    color: #171a21;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: grid;
    grid-template-areas:
        'menu'
        'logo'
        'content'
        'footer';
    gap: 10px;
}

.menu {
    grid-area: menu;
    font-size: 18px;
    background-color: #e6e6e6;
}

.logo {
    grid-area: logo;
    position: relative;
}

.content {
    grid-area: content;
}

.item {
    border: 1px solid black;
    padding: 5px;
}

.line {
    display: inline;
}

.sides {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.design {
    text-decoration: none;
    color: #171a21;
}

.back {
    width: 100%;
    margin-bottom: -4px;
}

.name {
    position: absolute;
    font-family: 'Unbounded', sans-serif;
    font-size: 5vw;
    text-align: center;
    left: 0;
    right: 0;
    top: 50%;
    transform:translate(0, -50%);
    background-color: #000000;
    color: #016fb9;
    padding: 5px;
    font-weight: bold;
}

.footer {
    grid-area: footer;
    position: relative;
}

.sign {
    position: absolute;
    font-family: 'Unbounded', sans-serif;
    font-size: 18px;
    text-align: center;
    left: 0;
    right: 0;
    top: 50%;
    transform:translate(0, -50%);
}

/* About */

.text_about {
    padding: 25px;
    line-height: 24px;
    min-height: 710px;
    background-color: #e6e6e6;
}

.title {
    margin: 0 auto 25px;
    line-height: 36px;
    font-family: 'Unbounded', sans-serif;
}

.posters {
    height: 750px;
    float: right;
    margin: 0 0 25px 25px;
    background-color: #ffffff;
}

.question {
    font-weight: bold;
    margin-top: 25px;
}

.advantages {
    font-weight: bold;
    margin-top: 15px;
}

.main_inf {
    font-style: italic;
    margin-bottom: 15px;
}

/* Main page */

.posters_mini {
    width: 250px;
}

.movie {
    text-align: center;
    font-family: 'Unbounded', sans-serif;
    border: 1px solid black;
    padding: 5px;
    width: 250px;
    background-color: #016fb9;
    font-weight: bold;
}

.movies_col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 900px){
    .movies_col {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1200px){
    .movies_col {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1500px){
    .movies_col {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
}

.movies_item {
    margin: auto;
    padding: 25px 0;
}

/* Review */

.review {
    margin: -1px 0 0 0;
}

.fio {
    font-family: 'Unbounded', sans-serif;
    font-size: 18px;
    padding: 5px;
    margin: 5px;
    background-color: #d0d0d0;
}

.mail {
    margin: 10px;
    color: #016fb9;
    font-style: italic;
    text-decoration: underline;
}

.text_review {
    margin: 10px;
}

.title_review {
    font-family: 'Unbounded', sans-serif;
    font-size: 32px;
    background-color: #016fb9;
    padding: 15px;
    margin: -1px 0 0 0;
    border: 1px solid black;
}

.user_form {
    background-color: #e6e6e6;
    margin: -1px 0 0 0;
    padding: 10px;
    font-weight: bold;
    line-height: 36px;
}

.caption {
    margin-right: 10px;
    vertical-align: top;
}

.review_area {
    width: 100%;
    box-sizing: border-box;
}

.review_btn {
    font-family: 'Unbounded', sans-serif;
    font-size: 18px;
    font-weight: bold;
    background-color: #000000;
    color: #016fb9;
    padding: 5px 20px;
}